<!DOCTYPE html>
{% extends 'base.html' %}
{% load socialaccount %}
{% block title %}Login{% endblock title %}
{% block content%}
{% load static %}
<h2 style="background:red" class="text-light text-center py-3">Login to DalayVai</h2>
{% include 'webapp/alert.html'%}

<p class="text-center h5"><a style="background:red" class="btn text-light" href="{% provider_login_url 'google' %}"><img style="width:40px" src="{% static 'google.jpg' %}">  Login with Google</a></p>
<p class="text-center text-muted my-4">OR,</p>
<div class="row">
<div class="card mx-auto" style="width: 22rem; background:rgb(240, 240, 240)">
  <div class="card-body"><h2 class="card-title text-center">Login</h2>

    <div class="card-text">
<form action="{% url 'userapp:user_login' %}" method="post">
    {% csrf_token %}
    <input style="margin-left:5%; width:90%;" class="form-control" type="text" placeholder="Username" name="username"><br>
    <input style="margin-left:5%; width:90%;" class="form-control" type="password" placeholder="Password" name="password"><br>
    {% if not user %}
    <p>Sorry, username or password incorrect.</p>
    {% endif %}
    <div class="text-center">
    <input style="background:red; border-radius:20px" class="btn text-light px-5 mb-4" type="submit" value="Login">
    </div>
</form>
    <h6 class="text-center"><a class="link-dark" href="{% url 'password_reset' %}">Forgot Password</a></h6>
    </div>
      <p class="text-muted my-2">Don't have an account? <a href="{% url 'userapp:register' %}">Create One Here!</a></p>
  </div>
  </div>
</div>
</div>
<div style="margin-top:12%"></div>
{% endblock content%}