{% extends 'base.html' %}
{% load static %}
{% block title %}DalayVai|About{% endblock title %}
{% block content %}
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About DalayVai Real Estate</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center">
          <h2>We Search For The Perfect Home</h2>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
          <img src="{% static 'Img2\building.jpg' %}" alt="">
          <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
            neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
            commodi id libero eveniet harum perferendis laborum molestias quia.</p>
        </div>
      </div>
    </div>
{% endblock content %}